* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  color: #f4f4f5;
  line-height: 1.5;
}

.text-green-400 {
  color: #86efac;
}

.text-blue-400 {
  color: #93c5fd;
}

.text-zinc-400 {
  color: #a1a1aa;
}

section {
  min-height: 100vh;
}

#hero {
  position: relative;
  border-bottom: solid #3f3f46 1px;
}

.area {
  background: #18181b;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96%;
  overflow: hidden;
  min-height: 100vh;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.terminal-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 16px 0px;
}

.terminal {
  width: 100%;
  background: #27272ab3;
  border: solid #3f3f46 1px;
  border-radius: 8px;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 64px 0px;
}

.terminal header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  border-bottom: solid #3f3f46 1px;
}

.terminal header ul {
  position: absolute;
  display: flex;
  list-style-type: none;
  gap: 4px;
  right: 8px;
}

.terminal header ul li {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
}

.terminal header ul li:nth-child(1) {
  background: red;
}

.terminal header ul li:nth-child(2) {
  background: orange;
}

.terminal header ul li:nth-child(3) {
  background: green;
}

.terminal .content {
  min-height: 384px;
  padding: 4px;
}

#about,
#projects {
  background-image: linear-gradient(to bottom right, #18181b, #27272a);
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: justify;
}

#about .image-wrapper {
  width: 200px;
  height: 200px;
  background: blue;
  border-radius: 9999px;
  margin: auto;
  flex-shrink: 0;
  overflow: hidden;
}

.image-wrapper img {
  height: 100%;
}

#about .content {
  display: flex;
  gap: 32px;
}

#skills {
  background: #18181b;
}

#skills .file {
  background: #27272a;
  width: 100%;
  border: solid #3f3f46 1px;
  border-radius: 8px;
  padding: 8px;
}

#skills .file .file-name {
  border-bottom: solid #3f3f46 1px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.projects-wrapper,
.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.project {
  background: #27272a;
  border-radius: 8px;
  overflow: hidden;
  border: solid #3f3f46 1px;
}

.project .image-wrapper {
  height: 160px;
}

.project .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  padding: 16px;
}

.project-info .header {
  display: flex;
  justify-content: space-between;
}

.project-info .header div {
  display: flex;
  gap: 4px;
}

.project-info .header a {
  color: white;
}

.tech-stack-wrapper {
  display: flex;
  font-size: 14px;
  flex-grow: grow;
  margin-top: 8px;
  gap: 8px;
}

.tech-stack {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0px 8px;
  border-radius: 9999px;
  background: #93c5fd25;
}

#contact {
  /* position: relative; */
  border-top: solid #3f3f46 1px;
}

.contact-card {
  background: #27272a;
  padding: 16px;
  border-radius: 8px;
  border: solid #3f3f46 1px;
  color: white;
  text-decoration: none;
}

.contact-card:hover {
  background: #27272a90;
  padding: 16px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .terminal-wrapper {
    padding: 0px;
  }
}
